div.navBar {
  background-color: #774b4b;
  position: relative;
}

div.navBar a.active {
    text-decoration: none;
}
/* tämän alapuolelle copy pastettu*/
.navBar {
    overflow: hidden;
    position: relative;
  }
  
  .navBar #myLinks {
    display: none;
  }
  
  .navBar a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .navBar a.icon {
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navBar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    color: rgb(0, 0, 0);
  }
/* tämän yläpuolelle copy pastettu*/
a {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 540;
    font-style: normal;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 540;
    font-style: normal;
    font-size: 27px
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 540;
    font-style: normal;
    font-size: 18px
}